<!DOCTYPE html>
<html>
<head>
    <title>管理员列表</title>
    <#include "/header.html">
        </head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <div style="float:left;height:40px;width:100%;margin-top:10px;">
                <label style="font-weight: normal;margin-left: 10px;width:80px;">用户名：</label>
                <el-input
                        placeholder="请输入用户名"
                        v-model="q.userName"
                        style="width:180px;"
                        size="small"
                        clearable>
                </el-input>
                <a class="btn btn-default" @click="queryUser">查询</a>
                <a class="btn btn-default" @click="clearUser">重置</a>
            </div>
            <div style="float:left;height:40px;width:100%;margin-top:10px;">

                <#if shiro.hasPermission("sys:user:save")>
                    <a class="btn btn-primary" @click="addUser"><i class="fa fa-plus"></i>&nbsp;新增</a>
                </#if>
                <#if shiro.hasPermission("sys:user:update")>
                    <a class="btn btn-primary" @click="updateUser"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
                    <a class="btn btn-primary" @click="updateUserPwd"><i class="fa fa-pencil-square-o"></i>&nbsp;修改密码</a>
                </#if>
                <#if shiro.hasPermission("sys:user:delete")>
                    <a class="btn btn-primary" @click="delUser"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
                </#if>
            </div>
            <div style="height:0px;clear:both;"></div>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2 control-label not-blank">用户名</div>
                <div class="col-sm-10">
                    <input type="text" autocomplete="off"  class="form-control" v-model="user.userName" placeholder="登录账号"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label not-blank">真实姓名</div>
                <div class="col-sm-10">
                    <input type="text" autocomplete="off"  class="form-control" v-model="user.realName" placeholder="真实姓名"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label not-blank">所属部门</div>
                <div class="col-sm-10">
                    <input type="text" autocomplete="off"  class="form-control" v-model="user.deptName" style="cursor: pointer;"
                           @click="deptTree" readonly="readonly" placeholder="所属部门"/>
                </div>
            </div>
            <div class="form-group" v-show='opName=="add"'>
                <div class="col-sm-2 control-label">密码</div>
                <div class="col-sm-10">
                    <input type="password" class="form-control" v-model="user.userPwd" placeholder="密码"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">性别</div>
                <div class="col-sm-10">
                    <el-select v-model="user.userSex" size="small">
                        <el-option v-for="(v,k) in DICT.SEX" :key="k" :value="k" :label="v"></el-option>
                    </el-select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">角色</div>
                <div class="col-sm-10">
                    <label v-for="role in roleList" class="checkbox-inline">
                        <input type="checkbox" :value="role.roleId" v-model="user.roleIdList">{{role.roleName}}
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">状态</div>
                <div class="col-sm-10">
                    <label class="radio-inline">
                        <input type="radio" name="userStatus" value="1" v-model="user.userStatus"/> 正常
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="userStatus" value="2" v-model="user.userStatus"/> 停用
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="userStatus" value="3" v-model="user.userStatus"/> 注销
                    </label>
                </div>
            </div>
            <!--<div class="form-group">-->
                <!--<div class="col-sm-2 control-label">成本价查看</div>-->
                <!--<div class="col-sm-10">-->
                    <!--<label class="radio-inline">-->
                        <!--<input type="radio" name="costPrice" value="0" v-model="user.costPrice"/> 否-->
                    <!--</label>-->
                    <!--<label class="radio-inline">-->
                        <!--<input type="radio" name="costPrice" value="1" v-model="user.costPrice"/> 能-->
                    <!--</label>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<div class="col-sm-2 control-label not-blank">默认区域</div>-->
                <!--<div class="col-sm-10">-->
                    <!--<input class="form-control" style="cursor:pointer;" v-model="user.areaName" @focus="areaTree" :readonly="true"/>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<div class="col-sm-2 control-label not-blank">区域权限</div>-->
                <!--<div class="col-sm-10">-->
                    <!--<ul id="menuTree" class="ztree"></ul>-->
                <!--</div>-->
            <!--</div>-->

            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
    <div id="sysUserPwdLayer" class="panel panel-default" style="display: none;padding:10px;width:500px;">
        <div class="panel-heading">重置密码</div>
        <form class="form-horizontal" style="width:500px;">
            <div class="form-group">
                <div class="col-sm-2 control-label ">用户名</div>
                <div class="col-sm-10">
                    <input type="text" autocomplete="off" readonly="readonly" class="form-control" v-model="user.userName" placeholder=""/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label ">真实姓名</div>
                <div class="col-sm-10">
                    <input type="text" autocomplete="off" readonly="readonly"  class="form-control" v-model="user.realName" placeholder=""/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label ">所属部门</div>
                <div class="col-sm-10">
                    <input type="text" autocomplete="off"  class="form-control" v-model="user.deptName" readonly="readonly" placeholder=""/>
                </div>
            </div>
            <div class="form-group" >
                <div class="col-sm-2 control-label">原密码</div>
                <div class="col-sm-10">
                    <input type="password" class="form-control" v-model="oldPassword" placeholder="原密码"/>
                </div>
            </div>
            <div class="form-group" >
                <div class="col-sm-2 control-label">新密码</div>
                <div class="col-sm-10">
                    <input type="password" class="form-control" v-model="newPassword" placeholder="新密码"/>
                </div>
            </div>
            <div class="form-group" >
                <div class="col-sm-2 control-label">确认密码</div>
                <div class="col-sm-10">
                    <input type="password" class="form-control" v-model="newPasswordSure" placeholder="确认新密码"/>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- 选择部门 -->
<div id="deptLayer" style="display: none;padding:10px;">
    <ul id="deptTree" class="ztree"></ul>
</div>
<div id="areaLayer" style="display: none;padding:10px;">
    <ul id="areaTree" class="ztree"></ul>
</div>

<script src="${request.contextPath}/statics/js/sys/user.js?_${.now?long}"></script>
</body>
</html>