<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bj.contract.dao.UserReviewRecordMapper">

<update id="updateNode">
    update contract
    set contract_node=contract_node+#{a}
    where contract_id = #{contractId}
</update>

    <select id="queryReview" resultType="com.bj.contract.entity.UserReviewRecord">
        select c.contract_name,c.contract_amount,c.party_b_id,c.pay_status,c.payment_type,c.contract_code,c.pay_status,c.contract_node,
        c.start_date,c.end_date,c.create_date,c.contract_type,
        s.supplier_name,
        u.review_advise,u.review_result,u.reviewer,u.contract_id,u.id,u.create_time,
        r.node_name
        from contract as c
        join user_review_record as u on c.contract_id=u.contract_id
        join supplier as s on c.party_b_id = s.supplier_id
        join review_order as r on c.contract_node=r.id
        <where> ${ew.sqlSegment}</where>
    </select>

</mapper>
