<!DOCTYPE html>
<html>
<head>
    <title>文章列表</title>
    <#include "/header.html">
    <!-- vee-validate-->
    <script src="${request.contextPath}/statics/libs/vee-validate.js"></script>
    <script src="${request.contextPath}/statics/libs/zh_CN.js"></script>
</head>
<style>
    img{
        width:400px;
        height:300px;
        margin: 0 auto;
    }
    .form-horizontal{
        width:996px;
    }
    .form-control{
        width: 100%;
    }
    .btn{
        margin: 0 50%;
        width: 10%;
    }
    .jqgridInput{
        width:130px;
        border: none;
    }
    .jqgridSelect{
        width:130px;
    }


</style>
<body>
<div id="rrapp" v-cloak>


    <div  class="panel panel-default" >

        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2 col-md-2 control-label not-blank">合同名称</div>
                <div class="col-sm-10">

                    <input type="text" v-validate="'required|length:4,100|normalText'" name="contractName" auto-complete="off"  class="form-control input-sm-10" v-model="contract.contractName" placeholder="请输入合同名称,4~100字"/>
                    <el-alert
                            :title="'合同名称'+errors.first('contractName')"
                            :closable="false"
                            type="warning"
                            show-icon
                            v-show="errors.has('contractName')">
                    </el-alert>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label not-blank">采购部门</div>
                <div class="col-sm-2">
                    <input type="text" auto-complete="off" class="form-control" style="cursor:pointer;" v-validate="'required'" name="purchasingDeptId" v-model="dept.purchasingDeptName" @click="deptTree('purchase')" readonly="readonly" placeholder="请选择"/>
                </div>
                <div class="col-sm-2   control-label not-blank">需求部门</div>
                <div class="col-sm-2">
                    <input type="text" auto-complete="off" class="form-control" style="cursor:pointer;" v-validate="'required'" name="demandDeptId" v-model="dept.demandDeptName" @click="deptTree('demand')" readonly="readonly" placeholder="请选择"/>
                </div>
                <div class="col-sm-2   control-label not-blank">经办人</div>
                <div class="col-sm-2">
                    <el-select
                            v-model="contract.contractManager"
                            filterable
                            remote
                            v-validate="'required'" name="contractManager"
                            reserve-keyword
                            placeholder="请输入经办人"
                            :remote-method="remoteManager"
                            :loading="remoteManagerLoading">
                        <el-option
                                v-for="item in remoteManagers"
                                :key="item.id"
                                :label="item.real_name +'  '+ item.dept_name"
                                :value="item.user_id">
                        </el-option>
                    </el-select>
                    <el-alert
                            :title="'合同经办人'+errors.first('contractManager')"
                            :closable="false"
                            type="warning"
                            show-icon
                            v-show="errors.has('contractManager')">
                    </el-alert>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2   control-label not-blank">合同类型</div>
                <div class="col-sm-2">
                    <el-select v-model="contract.contractType" size="small" v-validate="'required'"
                               name="contractType">
                        <el-option v-for="(v,k) in DICT.CONTRACT_TYPE" :key="k" :value="k" :label="v"></el-option>
                    </el-select>
                </div>
                <div class="col-sm-2   control-label not-blank">甲方单位</div>
                <div class="col-sm-2">
                    <el-select v-model="contract.partyAId" size="small" v-validate="'required'"
                               name="partyAId">
                        <el-option key="k" value="0" label="***医院"></el-option>
                    </el-select>
                </div>
                <div class="col-sm-2 control-label not-blank">乙方单位</div>
                <div class="col-sm-2">
                    <el-select
                            v-model="contract.partyBId"
                            filterable
                            remote
                            reserve-keyword
                            placeholder="请输入单位名称"
                            :remote-method="getRemotePartyB"
                            :loading="remotePartyBLoading"
                            v-validate="'required'"
                            name="partyBId"
                    >
                        <el-option
                                v-for="item in remotePartyBs"
                                :key="item.supplier_id"
                                :label="item.supplier_name"
                                :value="item.supplier_id">
                        </el-option>
                    </el-select>
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-2 col-md-2 control-label not-blank">采购内容</div>
                <div class="col-sm-10">
                    <textarea  auto-complete="off"  name="purchaseContent"  v-validate="'required|length:10,500'" class="form-control input-sm-10" v-model="contract.purchaseContent" placeholder="请输入采购内容，10~500字"></textarea>
                    <el-alert
                            :title="'采购内容'+errors.first('purchaseContent')"
                            :closable="false"
                            type="warning"
                            show-icon
                            v-show="errors.has('purchaseContent')">
                    </el-alert>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label not-blank">付款方式</div>
                <div class="col-sm-2">
                    <el-select v-model="contract.paymentType" size="small" name="paymentType"  v-validate="'required'">
                        <el-option v-for="(v,k) in DICT.PAYMENT_TYPE" :key="k" :value="k" :label="v"></el-option>
                    </el-select>
                </div>
                <div class="col-sm-2   control-label not-blank">合同金额</div>
                <div class="col-sm-2">
                    <input type="number" v-validate="'required|min_value:0|decimal:2'" name="contractAmount" auto-complete="off" class="form-control"  v-model="contract.contractAmount"  placeholder="合同总金额"/>
                    <el-alert
                            v-show="errors.has('contractAmount')"
                            :title="'合同金额'+errors.first('contractAmount')"
                            :closable="false"
                            type="warning"
                            show-icon>
                    </el-alert>
                </div>

            </div>

            <div class="form-group">
                <div class="col-sm-2   control-label not-blank">开始时间</div>
                <div class="col-sm-2">
                    <el-date-picker v-model="contract.startDate"
                                    type="date"
                                    :time-arrow-control="true"
                                    placeholder="选择开始时间" id="finOrgInfoDate001" size="small"
                                    value-format="yyyy-MM-dd"
                                    name="startDate"  v-validate="'required'"
                    >
                    </el-date-picker>
                </div>
                <div class="col-sm-2 control-label not-blank">结束时间</div>
                <div class="col-sm-2">
                    <el-date-picker v-model="contract.endDate"
                                    type="date"
                                    :time-arrow-control="true"
                                    placeholder="选择结束时间" id="finOrgInfoDate001" size="small"
                                    value-format="yyyy-MM-dd"
                                    name="endDate"  v-validate="'required'"
                                    >
                    </el-date-picker>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label not-blank">付款阶段</div>
                <div class="col-sm-9" id="paymentStage">
                    <el-table
                            :data="tableData"
                            style="width: 100%"
                            empty-text="暂未添加付款阶段"
                            border>
                        <el-table-column
                                label="付款阶段"
                                prop="stageName"
                                width="110">
                        </el-table-column>
                        <el-table-column
                                prop="uses"
                                label="用途"
                                width="130">
                        </el-table-column>
                        <el-table-column
                                prop="paymentAmount"
                                label="付款金额"
                                width="120">
                        </el-table-column>
                        <el-table-column
                                prop="paymentRate"
                                label="付款比例"
                                width="80"
                                :formatter="rateFormatter"
                        >
                        </el-table-column>
                        <el-table-column
                                label="付款时间"
                                width="120">
                            <template slot-scope="scope">
                               <!-- <i class="el-icon-time"></i>-->
                                <span style="margin-left: 10px">{{ scope.row.paymentDate }}</span>
                            </template>
                        </el-table-column>
                        <el-table-column label="操作">
                            <template slot-scope="scope">
                                <el-button
                                        size="mini"
                                        @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
                                <el-button
                                        size="mini"
                                        type="danger"
                                        @click="handleDelete(scope.$index, scope.row)">删除</el-button>
                            </template>
                        </el-table-column>

                    </el-table>
                </div>
                <div ><el-button type="primary" icon="el-icon-plus" @click="showAddPaymentStage"></el-button></div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label not-blank">合同附件</div>
                <div class="col-sm-4">
                    <el-upload
                            class="upload-demo"
                            drag
                            action="/contract/uploadImage/"
                            accept="image/jpeg,image/png,.doc,.docx,.pdf"
                            multiple
                            :limit="10"
                            :file-list="files"
                            :on-success="contractFileSuccess"
                            :before-remove="cancleContractFile">
                        <i class="el-icon-upload"></i>
                        <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
                        <div class="el-upload__tip" slot="tip">只能上传jpg&nbsp;/&nbsp;png&nbsp;/&nbsp;word&nbsp;/&nbsp;pdf文件，且不超过5M</div>
                    </el-upload>

                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveContract" value="提  交"/>
            </div>
        </form>
    </div>
    <!--付款阶段添加-->
    <el-dialog title="添加付款阶段" :visible.sync="dialogFormVisible" width="480px" >
        <el-form :model="paymentStage">
            <el-form-item label="付款阶段" :label-width="formLabelWidth">
                <el-input v-model="paymentStage.stageName" auto-complete="off" placeholder="请输入付款阶段，如“阶段一"></el-input>
            </el-form-item>
            <el-form-item label="用途" :label-width="formLabelWidth">
                <el-select v-model="paymentStage.uses" placeholder="请选择款项用途">
                    <el-option label="用途一" value="0"></el-option>
                    <el-option label="用途二" value="1"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="付款金额" :label-width="formLabelWidth">
                <el-input type="number" v-model="paymentStage.paymentAmount"  v-validate="'required|min_value:0|decimal:2'" name="付款金额" auto-complete="off" placeholder="请输入付款金额"></el-input>
                <el-alert
                        v-show="errors.has('付款金额')"
                        :title="errors.first('付款金额')"
                        :closable="false"
                        type="warning"
                        show-icon>
                </el-alert>
            </el-form-item>
            <el-form-item label="付款时间" :label-width="formLabelWidth">

                <el-date-picker v-model="paymentStage.paymentDate"
                                type="date"
                                :time-arrow-control="true"
                                placeholder="选择结束时间" id="finOrgInfoDate001" size="small"
                                value-format="yyyy-MM-dd"
                >
                </el-date-picker>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="dialogFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="addPaymentStage">添 加</el-button>
        </div>
    </el-dialog>

</div>


<!-- 选择部门 -->
<div id="deptLayer" style="display: none;padding:10px;">
    <ul id="deptTree" class="ztree"></ul>
</div>

<script src="${request.contextPath}/statics/js/contract/contract_add.js?_${.now?long}"></script>

</body>
</html>