<!DOCTYPE html>
<html>
<head>
    <title>文章列表</title>
    <#include "/header.html">
</head>
<style>
    img{
        width:400px;
        height:300px;
        margin: 0 auto;
    }
    .form-control{
        width: 220px;
    }
   .amountRange{
       width: 70px;
       border: 1px solid #ccc;
       border-radius: 4px;
       height: 32px;
   }
    .amountRange:focus{
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
    }
</style>
<body>
<div id="rrapp" v-cloak>
    <div class="panel panel-default">
        <form class="form-horizontal">

            <div class="form-group">
                <div class="col-sm-2 control-label  ">合同名称</div>
                <div class="col-sm-2">
                    <input type="text" auto-complete="off" class="form-control"  v-model="contract.contractName" placeholder="请输入合同名称"/>
                </div>
                <div class="col-sm-2   control-label  ">合同编号</div>
                <div class="col-sm-2">
                    <input type="text" auto-complete="off" class="form-control" v-model="contract.contractCode" placeholder="请输入合同编号"/>
                </div>
                <div class="col-sm-2   control-label  ">采购部门</div>
                <div class="col-sm-2">
                    <input type="text" auto-complete="off" class="form-control" style="cursor:pointer;" v-model="dept.purchasingDeptName" @click="deptTree('demand')" readonly="readonly" placeholder="请选择"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2   control-label  ">需求部门</div>
                <div class="col-sm-2">
                    <input type="text" auto-complete="off" class="form-control" style="cursor:pointer;" v-model="dept.demandDeptName" @click="deptTree('demand')" readonly="readonly" placeholder="请选择"/>
                </div>
                <div class="col-sm-2   control-label  ">付款情况</div>
                <div class="col-sm-2">
                    <el-select v-model="contract.payStatus" size="small">
                        <el-option v-for="(v,k) in DICT.PAYMENT_STATUS" :key="k" :value="k" :label="v"></el-option>
                    </el-select>
                </div>
                <div class="col-sm-2 control-label  ">开始时间</div>
                <div class="col-sm-2">
                    <el-date-picker v-model="contract.startDate"
                                    type="date"
                                    :time-arrow-control="true"
                                    placeholder="请选择开始时间" id="finOrgInfoDate001" size="small"
                                    value-format="yyyy-MM-dd"
                    >
                    </el-date-picker>

                </div>
            </div>



            <div class="form-group">
                <div class="col-sm-2 control-label  ">结束时间</div>
                <div class="col-sm-2">
                    <el-date-picker v-model="contract.endDate"
                                    type="date"
                                    size="small"
                                    :time-arrow-control="true"
                                    placeholder="请选择结束时间" id="finOrgInfoDate002" size="small"
                                    value-format="yyyy-MM-dd"
                    >
                    </el-date-picker>
                </div>
                <div class="col-sm-2   control-label  ">经办人</div>
                <div class="col-sm-2">
                    <el-select
                            v-model="contractManager"
                            filterable
                            remote
                            reserve-keyword
                            placeholder="请输入经办人"
                            :remote-method="remoteManager"
                            :loading="remoteManagerLoading">
                        <el-option
                                v-for="item in remoteManagers"
                                :key="item.id"
                                :label="item.real_name +'  '+ item.dept_name"
                                :value="item.id">
                        </el-option>
                    </el-select>
                </div>
                <div class="col-sm-2   control-label  ">合同金额</div>
                <div class="col-sm-2">
                    <input type="text" auto-complete="off" class="amountRange" v-model="contract.startNumber" /> &nbsp;--&nbsp;
                    <input type="text" auto-complete="off" class="amountRange" v-model="contract.endNumber" />
                </div>

            </div>

            <div class="form-group">

                <div class="col-sm-2 control-label  ">乙方单位</div>
                <div class="col-sm-2">
                    <el-select
                            v-model="remotePartyB"
                            filterable
                            remote
                            reserve-keyword
                            placeholder="请输入单位名称"
                            :remote-method="getRemotePartyB"
                            :loading="remotePartyBLoading">
                        <el-option
                                v-for="item in remotePartyBs"
                                :key="item.id"
                                :label="item.supplier_name"
                                :value="item.id">
                        </el-option>
                    </el-select>
                </div>
                <div class="col-sm-1 control-label  "></div>
                <div class="col-sm-3 ">
                <input type="button" class="btn btn-primary" @click="queryContract" value="查 询"/>
                <input type="reset" class="btn btn-warning"  value="重 置"/>
                <input type="button" class="btn btn-success" @click="excelExport" value="导出Excel"/>
                </div>
            </div>


        </form>
        <!--jqgrid数据表格-->
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>


</div>
<!-- 选择部门 -->
<div id="deptLayer" style="display: none;padding:10px;">
    <ul id="deptTree" class="ztree"></ul>
</div>

<script src="${request.contextPath}/statics/js/contract/contract_query.js?_${.now?long}"></script>

</body>
</html>