<!DOCTYPE html>
<html>
<head>
    <title>合同查询</title>
    <#include "/header.html">
</head>
<style>
    img{
        width:400px;
        height:300px;
        margin: 0 auto;
    }
    .form-control{
        width: 220px;
    }
    .back{
        margin: 0 50%;
        width: 10%;
    }
   .amountRange{
       width: 70px;
       border: 1px solid #ccc;
       border-radius: 4px;
       height: 32px;
   }
    .amountRange:focus{
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
    }
    .contractTitle{
        text-align: center;
        background-color: transparent;
    }
    .contractInfo{
        width: 950px;
        margin: 0 auto;
    }
    .contract{
        width: 996px;
        border:1px solid #b4bccc;
        margin: 0 auto;
    }
    .panel .el-input {
        width: 220px;
    }
    .contractInfo .el-input {
        width: 320px;
        border: none;
    }
    #contractImage{
        width: 780px;
        height: 900px;
    }
</style>
<body>
<div id="rrapp" v-cloak>
    <div class="panel panel-default" v-show="showList">
        <form class="form-horizontal">

            <div class="form-group">
                <div class="col-sm-2 control-label  ">合同名称</div>
                <div class="col-sm-2">
                    <input type="text" auto-complete="off" class="form-control"  v-model="contract.contractName" placeholder="请输入合同名称"/>
                </div>
                <div class="col-sm-2   control-label  ">合同编号</div>
                <div class="col-sm-2">
                    <input type="text" auto-complete="off" class="form-control" v-model="contract.contractCode" placeholder="请输入合同编号"/>
                </div>
                <div class="col-sm-2   control-label  ">采购部门</div>
                <div class="col-sm-2">
                    <input type="text" auto-complete="off" class="form-control" style="cursor:pointer;" v-model="dept.purchasingDeptName" @click="deptTree('purchase')" readonly="readonly" placeholder="请选择"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2   control-label  ">需求部门</div>
                <div class="col-sm-2">
                    <input type="text" auto-complete="off" class="form-control" style="cursor:pointer;" v-model="dept.demandDeptName" @click="deptTree('demand')" readonly="readonly" placeholder="请选择"/>
                </div>
                <div class="col-sm-2   control-label  ">付款情况</div>
                <div class="col-sm-2">
                    <el-select v-model="contract.payStatus" size="small">
                        <el-option v-for="(v,k) in DICT.PAYMENT_STATUS" :key="k" :value="k" :label="v"></el-option>
                    </el-select>
                </div>
                <div class="col-sm-2 control-label  ">开始时间</div>
                <div class="col-sm-2">
                    <el-date-picker v-model="contract.startDate"
                                    type="date"
                                    :time-arrow-control="true"
                                    placeholder="请选择开始时间" id="finOrgInfoDate001" size="small"
                                    value-format="yyyy-MM-dd"
                    >
                    </el-date-picker>

                </div>
            </div>



            <div class="form-group">
                <div class="col-sm-2 control-label  ">结束时间</div>
                <div class="col-sm-2">
                    <el-date-picker v-model="contract.endDate"
                                    type="date"
                                    size="small"
                                    :time-arrow-control="true"
                                    placeholder="请选择结束时间" id="finOrgInfoDate002" size="small"
                                    value-format="yyyy-MM-dd"
                    >
                    </el-date-picker>
                </div>
                <div class="col-sm-2   control-label  ">经办人</div>
                <div class="col-sm-2">
                    <el-select
                            v-model="contractManager"
                            filterable
                            remote
                            reserve-keyword
                            placeholder="请输入经办人"
                            :remote-method="remoteManager"
                            :loading="remoteManagerLoading">
                        <el-option
                                v-for="item in remoteManagers"
                                :key="item.id"
                                :label="item.real_name +'  '+ item.dept_name"
                                :value="item.id">
                        </el-option>
                    </el-select>
                </div>
                <div class="col-sm-2   control-label  ">合同金额</div>
                <div class="col-sm-2">
                    <input type="text" auto-complete="off" class="amountRange" v-model="contract.startNumber" /> &nbsp;--&nbsp;
                    <input type="text" auto-complete="off" class="amountRange" v-model="contract.endNumber" />
                </div>

            </div>

            <div class="form-group">

                <div class="col-sm-2 control-label  ">乙方单位</div>
                <div class="col-sm-2">
                    <el-select
                            v-model="remotePartyB"
                            filterable
                            remote
                            reserve-keyword
                            placeholder="请输入单位名称"
                            :remote-method="getRemotePartyB"
                            :loading="remotePartyBLoading">
                        <el-option
                                v-for="item in remotePartyBs"
                                :key="item.id"
                                :label="item.supplier_name"
                                :value="item.id">
                        </el-option>
                    </el-select>
                </div>
                <div class="col-sm-1 control-label  "></div>
                <div class="col-sm-3 ">
                <input type="button" class="btn btn-primary" @click="queryContract" value="查 询"/>
                <input type="reset" class="btn btn-warning"  value="重 置"/>
                <input type="button" class="btn btn-success" @click="excelExport" value="导出Excel"/>
                </div>
            </div>
        </form>
        <!--jqgrid数据表格-->
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <!--合同详情-->
    <div class="contract" v-show="!showList">
        <div class="contractTitle"><h2>合同详情</h2></div>
        <div class="contractInfo">
            <h4>一、合同基本信息</h4>
            <el-form ref="form" :model="contract" :inline="true" label-width="120px">
                <el-form-item label="合同名称">
                    <el-input v-model="contract.contractName" :readonly="true"></el-input>
                </el-form-item>
                <el-form-item label="合同编号">
                    <el-input v-model="contract.contractCode" :readonly="true"></el-input>
                </el-form-item>
            </el-form>

            <el-form ref="form" :model="contract" :inline="true" label-width="120px">
                <el-form-item label="合同经办人">
                    <el-input v-model="contract.contractManagerName" :readonly="true"></el-input>
                </el-form-item>
                <el-form-item label="经办人联系方式">
                    <el-input v-model="contract.contractManagerPhone" :readonly="true"></el-input>
                </el-form-item>
            </el-form>
            <el-form ref="form" :model="contract" :inline="true" label-width="120px">
                <el-form-item label="甲方单位">
                    <el-input v-model="contract.partyAName" :readonly="true"></el-input>
                </el-form-item>
                <el-form-item label="乙方单位">
                    <el-input v-model="contract.partyBName" :readonly="true"></el-input>
                </el-form-item>
            </el-form>
            <el-form ref="form" :model="contract" :inline="true" label-width="120px">
                <el-form-item label="合同类型">
                    <el-input v-model="contract.contractTypeName" :readonly="true"></el-input>
                </el-form-item>
                <el-form-item label="付款状态">
                    <el-input v-model="contract.payStatusName" :readonly="true"></el-input>
                </el-form-item>
            </el-form>
            <el-form ref="form" :model="contract" :inline="true" label-width="120px">
                <el-form-item label="采购部门">
                    <el-input v-model="contract.purchasingDeptName" :readonly="true"></el-input>
                </el-form-item>
                <el-form-item label="需求部门">
                    <el-input v-model="contract.demandDeptName" :readonly="true"></el-input>
                </el-form-item>
            </el-form>
            <el-form ref="form" :model="contract" :inline="true" label-width="120px">
                <el-form-item label="合同金额">
                    <el-input v-model="contract.contractAmount" :readonly="true"></el-input>
                </el-form-item>
                <el-form-item label="支付方式">
                    <el-input v-model="contract.paymentTypeName" :readonly="true"></el-input>
                </el-form-item>
            </el-form>
            <el-form ref="form" :model="contract" :inline="true" label-width="120px">
                <el-form-item label="开始时间">
                    <el-input v-model="contract.startDate" :readonly="true"></el-input>
                </el-form-item>
                <el-form-item label="结束时间">
                    <el-input v-model="contract.endDate" :readonly="true"></el-input>
                </el-form-item>
            </el-form>
            <el-form ref="form" :model="contract"  label-width="120px">
                <el-form-item label="采购内容">
                    <el-input type="textarea" :row="3" style="width: 780px;" v-model="contract.purchaseContent" :readonly="true"></el-input>
                </el-form-item>
            </el-form>


            <hr/>

            <h4>二、合同付款阶段</h4>
            <el-form ref="form" :model="paymentStages"  label-width="120px">
                <el-form-item label="付款阶段">
                    <el-table  style="width: 780px;"
                               :data="paymentStages"
                               style="width: 100%"
                               empty-text="暂未添加付款阶段"
                               border>
                        <el-table-column
                                label="付款阶段"
                                prop="stageName"
                                width="178">
                        </el-table-column>
                        <el-table-column
                                prop="uses"
                                label="用途"
                                width="150">
                        </el-table-column>
                        <el-table-column
                                prop="paymentAmount"
                                label="付款金额"
                                width="150">
                        </el-table-column>
                        <el-table-column
                                prop="paymentRate"
                                label="付款比例"
                                width="150"
                                :formatter="rateFormatter"
                        >
                        </el-table-column>
                        <el-table-column
                                label="付款时间"
                                width="150">
                            <template slot-scope="scope">
                                <!-- <i class="el-icon-time"></i>-->
                                <span style="margin-left: 10px">{{ scope.row.paymentDate }}</span>
                            </template>
                        </el-table-column>
                    </el-table>
                </el-form-item>
            </el-form>

            <hr/>

            <h4>三、合同原件扫描件</h4>
            <el-form ref="form" :model="contract"  label-width="120px">
                <el-form-item label="扫描件图片">
                    <img id="contractImage" :src="contract.contractFile">
                </el-form-item>
            </el-form>

        </div>

        <div class="form-group">
            <div class="col-sm-2 control-label"></div>
            <input type="button" class="btn back btn-primary" @click="showList=true" value="返  回"/>
        </div>
    </div>

</div>
<!-- 选择部门 -->
<div id="deptLayer" style="display: none;padding:10px;">
    <ul id="deptTree" class="ztree"></ul>
</div>

<script src="${request.contextPath}/statics/js/contract/contract_query.js?_${.now?long}"></script>

</body>
</html>