<!DOCTYPE html>
<html>
<head>
    <title>文章列表</title>
    <#include "/header.html">
</head>
<!-- vee-validate-->
<script src="${request.contextPath}/statics/libs/vee-validate.js"></script>
<script src="${request.contextPath}/statics/libs/zh_CN.js"></script>
<style>
    img{
        width:400px;
        height:300px;
        margin: 0 auto;
    }
    .form-control{
        width: 220px;
    }
   .amountRange{
       width: 70px;
       border: 1px solid #ccc;
       border-radius: 4px;
       height: 32px;
   }
    .amountRange:focus{
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
    }
</style>
<body>
<div id="rrapp" v-cloak>
    <div class="panel panel-default">
        <form class="form-horizontal">
            <div class="form-group">
            <div class="col-sm-2 control-label  ">合同名称</div>
            <div class="col-sm-2">
                <input type="text" auto-complete="off" class="form-control"  v-model="contract.contractName" placeholder="请输入合同名称"/>
            </div>
            <div class="col-sm-2   control-label  ">合同编号</div>
            <div class="col-sm-2">
                <input type="text" auto-complete="off" class="form-control" v-model="contract.contractCode" placeholder="请输入合同编号"/>
            </div>
            <div class="col-sm-2   control-label  ">采购部门</div>
            <div class="col-sm-2">
                <input type="text" auto-complete="off" class="form-control" style="cursor:pointer;" v-model="dept.purchasingDeptName" @click="deptTree('purchase')" readonly="readonly" placeholder="请选择"/>
            </div>
          </div>

    <div class="form-group">
        <div class="col-sm-2   control-label  ">需求部门</div>
        <div class="col-sm-2">
            <input type="text" auto-complete="off" class="form-control" style="cursor:pointer;" v-model="dept.demandDeptName" @click="deptTree('demand')" readonly="readonly" placeholder="请选择"/>
        </div>
        <div class="col-sm-2   control-label  ">付款情况</div>
        <div class="col-sm-2">
            <el-select v-model="contract.payStatus" size="small">
                <el-option v-for="(v,k) in DICT.PAYMENT_STATUS" :key="k" :value="k" :label="v"></el-option>
            </el-select>
        </div>
        <div class="col-sm-2 control-label  ">开始时间</div>
        <div class="col-sm-2">
            <el-date-picker v-model="contract.startDate"
                            type="date"
                            :time-arrow-control="true"
                            placeholder="请选择开始时间" id="finOrgInfoDate001" size="small"
                            value-format="yyyy-MM-dd"
            >
            </el-date-picker>

        </div>
    </div>



    <div class="form-group">
        <div class="col-sm-2 control-label  ">结束时间</div>
        <div class="col-sm-2">
            <el-date-picker v-model="contract.endDate"
                            type="date"
                            size="small"
                            :time-arrow-control="true"
                            placeholder="请选择结束时间" id="finOrgInfoDate002" size="small"
                            value-format="yyyy-MM-dd"
            >
            </el-date-picker>
        </div>
        <div class="col-sm-2   control-label  ">经办人</div>
        <div class="col-sm-2">
            <el-select
                    v-model="contractManager"
                    filterable
                    remote
                    reserve-keyword
                    placeholder="请输入经办人"
                    :remote-method="remoteManager"
                    :loading="remoteManagerLoading">
                <el-option
                        v-for="item in remoteManagers"
                        :key="item.id"
                        :label="item.real_name +'  '+ item.dept_name"
                        :value="item.id">
                </el-option>
            </el-select>
        </div>
        <div class="col-sm-2   control-label  ">合同金额</div>
        <div class="col-sm-2">
            <input type="text" auto-complete="off" class="amountRange" v-model="contract.startNumber" /> &nbsp;--&nbsp;
            <input type="text" auto-complete="off" class="amountRange" v-model="contract.endNumber" />
        </div>

    </div>

    <div class="form-group">

        <div class="col-sm-2 control-label  ">乙方单位</div>
        <div class="col-sm-2">
            <el-select
                    v-model="remotePartyB"
                    filterable
                    remote
                    reserve-keyword
                    placeholder="请输入单位名称"
                    :remote-method="getRemotePartyB"
                    :loading="remotePartyBLoading">
                <el-option
                        v-for="item in remotePartyBs"
                        :key="item.id"
                        :label="item.supplier_name"
                        :value="item.id">
                </el-option>
            </el-select>
        </div>
                <div class="col-sm-1 control-label  "></div>
                <div class="col-sm-3 ">
                <input type="button" class="btn btn-primary" @click="queryContract" value="查 询"/>
                <input type="reset" class="btn btn-warning"  value="重 置"/>
                <input type="button" class="btn btn-primary"  @click="showAddChange" value="添加审查记录"/>
                </div>
            </div>

        </form>

       <!--jqgrid数据表格-->
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>

    </div>
    <!--添加合同审查记录-->
    <el-dialog title="添加合同审查记录" :visible.sync="dialogFormVisible" width="600px" >
        <el-form :model="contractExamine">
            <el-form-item label="审查问题" :label-width="formLabelWidth">
                <el-input v-model="contractExamine.problem" auto-complete="off" v-validate="'required|length:4,50'" name="problem" placeholder="请输入变更名称,4~50个字"></el-input>
                <el-alert
                        :title="'审查问题'+errors.first('problem')"
                        :closable="false"
                        type="warning"
                        show-icon
                        v-show="errors.has('problem')">
                </el-alert>
            </el-form-item>
            <el-form-item label="严重等级" :label-width="formLabelWidth">
                <el-select v-model="contractExamine.riskLevel" size="small" name="riskLevel"  v-validate="'required'">
                    <el-option v-for="(v,k) in DICT.RISK_LEVEL" :key="k" :value="k" :label="v"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="提出人" :label-width="formLabelWidth">
                <el-select
                        v-model="contractExamine.handler"
                        filterable
                        remote
                        v-validate="'required'" name="handler"
                        reserve-keyword
                        placeholder="请输入提出人"
                        :remote-method="remoteManager"
                        :loading="remoteManagerLoading">
                    <el-option
                            v-for="item in remoteManagers"
                            :key="item.id"
                            :label="item.real_name +'  '+ item.dept_name"
                            :value="item.user_id">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="解决方案" :label-width="formLabelWidth">
                <el-input  v-model="contractExamine.handleWay"  auto-complete="off" placeholder="请输入解决方案"></el-input>
            </el-form-item>
            <el-form-item label="修正状态" :label-width="formLabelWidth">
                <el-select v-model="contractExamine.status" size="small" name="status"  v-validate="'required'">
                    <el-option v-for="(v,k) in DICT.STATUS" :key="k" :value="k" :label="v"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="提出时间" :label-width="formLabelWidth">

                <el-date-picker v-model="contractExamine.createTime"
                                type="date"
                                :time-arrow-control="true"
                                placeholder="选择结束时间" id="finOrgInfoDate001" size="small"
                                value-format="yyyy-MM-dd"
                                name="createTime"  v-validate="'required'"
                >
                </el-date-picker>
            </el-form-item>

        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="dialogFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="addcontractExamine">添 加</el-button>
        </div>
    </el-dialog>

</div>


<!-- 选择部门 -->
<div id="deptLayer" style="display: none;padding:10px;">
    <ul id="deptTree" class="ztree"></ul>
</div>

<script src="${request.contextPath}/statics/js/contract/contract_examine_add.js?_${.now?long}"></script>

</body>
</html>