<!DOCTYPE html>
<html>
<head>
    <title>我的待办任务</title>
    <#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList==1">
        <div class="grid-btn">
            <div style="float:left;height:40px;width:100%;margin-top:10px;">
                <label style="font-weight: normal;margin-left: 10px;">合同名称：</label>
                <el-input
                        placeholder="请输入合同名称"
                        v-model="contractSearch.contractName"
                        style="width:250px;"
                        size="small"
                        clearable>
                </el-input>
                <label style="font-weight: normal;margin-left: 10px;">申请人：</label>
                <el-input
                        placeholder="请输入申请人姓名"
                        v-model="contractSearch.contractManagerName"
                        style="width:250px;"
                        size="small"
                        clearable>
                </el-input>
                <a class="btn btn-default" @click="queryContract">查询</a>
                <a class="btn btn-default" @click="clearContract">重置</a>
            </div>
            <div style="float:left;height:40px;width:100%;margin-top:10px;">
            </div>
            <div style="height: 0px;clear:both;"></div>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="showList==2" class="panel panel-default" style="height: 50%">
        <div class="panel-heading">{{title}}</div>
        <div style="text-align: center;">
            <div style="float:left;height:10px;width:100%;margin-top:10px;"></div>
            <span  style="font-size: 20px;font-weight: bold">{{contractName}}</span><br/>
            <div style="float:left;height:10px;width:100%;margin-top:10px;"></div>
            合同编号：<span  style="font-size: 14px;color: red">{{contractCode}}</span>
            <div class="form-group">
                <div style="height:30px;width:100%;margin-top:10px;">
                    <label style="font-weight: normal;margin-left: 10px;">当前节点：</label>
                    <el-input :readonly="true"
                              v-model="contract.nodeName"
                              style="width:250px;"
                              size="small"
                    >
                    </el-input>
                    <label style="font-weight: normal;margin-left: 10px;">需求部门：</label>
                    <el-input
                            :readonly="true"
                            v-model="contract.demandDeptName"
                            style="width:250px;"
                            size="small"
                    >
                    </el-input>
                    <label style="font-weight: normal;margin-left: 10px;">经办人员：</label>
                    <el-input :readonly="true"
                              v-model="contract.contractManagerName"
                              style="width:250px;"
                              size="small"
                    >
                    </el-input>
                </div>
                <div style="height:30px;width:100%;margin-top:10px;">
                    <label style="font-weight: normal;margin-left: 10px;">乙方单位：</label>
                    <el-input :readonly="true"
                              v-model="contract.supplierName"
                              style="width:250px;"
                              size="small"
                    >
                    </el-input>
                    <label style="font-weight: normal;margin-left: 10px;">合同金额：</label>
                    <el-input :readonly="true"
                              placeholder="请输入金额"
                              v-model="contract.contractAmount"
                              style="width:250px;"
                              size="small">
                    </el-input>
                    <label style="font-weight: normal;margin-left: 10px;">开始时间：</label>
                    <el-date-picker
                            :readonly="true" v-model="contract.startDate"
                            type="datetime"
                            :time-arrow-control="true"
                            placeholder="选择时间" id="finOrgInfoDate001" size="small"
                            value-format="yyyy-MM-dd HH:mm:ss ">
                    </el-date-picker>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </div>
                <div style="height:30px;width:100%;margin-top:10px;">
                    <label style="font-weight: normal;margin-left: 10px;">合同类型：</label>
                    <el-input
                            :readonly="true"
                            v-model="contract.contractType"
                            style="width:250px;"
                            size="small"
                    >
                    </el-input>
                    <label style="font-weight: normal;margin-left: 10px;">采购内容：</label>
                    <el-input
                            :readonly="true"
                            v-model="contract.purchaseContent"
                            style="width:250px;"
                            size="small"
                    >
                    </el-input>
                    <label style="font-weight: normal;margin-left: 10px;">结束时间：</label>
                    <el-date-picker
                            :readonly="true" v-model="contract.endDate"
                            type="datetime"
                            :time-arrow-control="true"
                            placeholder="选择时间" id="finOrgInfoDate001" size="small"
                            value-format="yyyy-MM-dd HH:mm:ss ">
                    </el-date-picker>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </div>

            </div>
        </div>
        <el-form label-width="80px" style="margin-left:11%">
            <div style="height:30px;width:100%;margin-top:10px;">
                <el-form-item>
                    <label style="font-weight: normal;margin-left: 10px;">&nbsp;支付情况：</label>
                    <el-radio-group :readonly="true" v-model="contract.payStatus">
                        <el-radio :label="0" name="type" value="0">已支付</el-radio>
                        <el-radio :label="1" name="type" value="1">正在支付</el-radio>
                        <el-radio :label="2" name="type" value="2">未支付</el-radio>
                    </el-radio-group>
                </el-form-item>
            </div>
        </el-form>
        <div style="float:left;height:40px;width:100%;margin-top:10px;"></div>
    </div>
    <div v-show="showList==2" class="panel panel-default" >

        <el-form  style="margin:0px auto;"  label-width="100px" >

            <el-form-item label="合同附件："  style="margin-left: 18%">
                <el-button style="margin-left: 0px"><a href="contract.contractFile"  target="_blank" >查看文件</a></el-button>
            </el-form-item>

            <el-form-item label="审核意见："  style="margin-left: 18%;margin-right: 18%;">
                <el-input  type="textarea" label-width="300px" :rows="4" v-model="userReviewRecord.reviewAdvise"></el-input>
            </el-form-item>
            <el-form-item style="margin-left: 18%;">
                <el-button type="primary" @click="passOrReject(1)" >同意</el-button>
                <el-button type="warning" @click="passOrReject(2)" >驳回</el-button>
                <el-button @click="reload">返回</el-button>
            </el-form-item>
        </el-form>


    </div>
</div>
<!-- 选择窗口 -->
<div id="finUserOrgInfoTreeLayer" style="display: none;padding:10px;">
    <ul id="finUserOrgInfoTree" class="ztree"></ul>
</div>
<script src="${request.contextPath}/statics/js/contract/myMission.js?_${.now?long}"></script>
</body>
</html>