<!DOCTYPE html>
<html>
<head>
    <title>合同结算</title>
    <#include "/header.html">
    <script src="${request.contextPath}/statics/libs/vee-validate.js"></script>
    <script src="${request.contextPath}/statics/libs/zh_CN.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList==1">
        <form class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-2 control-label  ">合同名称</div>
            <div class="col-sm-2">
                <input type="text" auto-complete="off" class="form-control"  v-model="contractSearch.contractName" placeholder="请输入合同名称"/>
            </div>
            <div class="col-sm-2   control-label  ">合同编号</div>
            <div class="col-sm-2">
                <input type="text" auto-complete="off" class="form-control" v-model="contractSearch.contractCode" placeholder="请输入合同编号"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2   control-label  ">经办人员</div>
            <div class="col-sm-2">
                <input type="text" auto-complete="off" class="form-control"  v-model="contractSearch.contractManagerName" placeholder="请输入经办人员"/>


            </div>
            <div class="col-sm-2 control-label  ">乙方单位</div>
            <div class="col-sm-2">
                <input type="text" auto-complete="off" class="form-control"  v-model="contractSearch.supplierName" placeholder="请输入乙方单位"/>
            </div>
            <div class="col-sm-1 control-label  "></div>
            <div class="col-sm-3 ">
                <input type="button" class="btn btn-primary" @click="querySett" value="查 询"/>
                <input type="reset" class="btn btn-warning" @click="clearSett" value="重 置"/>
            </div>
            <div style="float:left;height:40px;width:100%;margin-top:10px;">
            </div>
        </div>
        </form>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="showList==2" class="panel panel-default" style="text-align: center;height: 500px">
        <div class="panel-heading">{{title}}</div>
        <div style="float:left;height:20px;width:100%;margin-top:10px;"></div>
        <span  style="font-size: 20px;font-weight: bold">{{contractName}}</span><br/>
        <div style="float:left;height:10px;width:100%;margin-top:10px;"></div>
        合同编号：<span  style="font-size: 14px;color: red">{{contractCode}}</span>

        <div style="float:left;height:20px;width:100%;margin-top:10px;"></div>
        <div style="float:left;height:60px;width:100%;margin-top:10px;">

            <el-form ref="form" :model="settlement" :inline="true" label-width="120px">
                <el-form-item label="收款银行：">
                    <el-input v-model="settlement.receiveBank" clearable v-validate="'required'" name="receiveBank" placeholder="请输入银行名称"></el-input>
                    <el-alert
                            :title="'收款银行'+errors.first('receiveBank')"
                            :closable="false"
                            type="warning"
                            show-icon
                            v-show="errors.has('receiveBank')">
                    </el-alert>
                </el-form-item>
                <el-form-item label="收款账户：">
                    <el-input v-model="settlement.receiveAccount" clearable v-validate="'required|myDecimal'" name="receiveAccount" placeholder="请输入账户"></el-input>
                    <el-alert
                            :title="'收款账户'+errors.first('receiveAccount')"
                            :closable="false"
                            type="warning"
                            show-icon
                            v-show="errors.has('receiveAccount')">
                    </el-alert>
                </el-form-item>
            </el-form>

            <el-form ref="form" :model="settlement" :inline="true" label-width="120px">
                <el-form-item label="收款单位：">
                    <el-input v-model="settlement.receiveCompany" clearable  v-validate="'required|required'" name="receiveCompany" placeholder="请输入收款单位"></el-input>
                    <el-alert
                            :title="'收款单位'+errors.first('receiveCompany')"
                            :closable="false"
                            type="warning"
                            show-icon
                            v-show="errors.has('receiveCompany')">
                    </el-alert>
                </el-form-item>
                <el-form-item label="用途：">
                    <el-input v-model="settlement.receiveStage" clearable v-validate="'required|required'" name="receiveStage" placeholder="请输入用途"></el-input>
                    <el-alert
                            :title="'用途'+errors.first('receiveCompany')"
                            :closable="false"
                            type="warning"
                            show-icon
                            v-show="errors.has('receiveStage')">
                    </el-alert>
                </el-form-item>
            </el-form>

            <el-form ref="form" :model="settlement" :inline="true" label-width="120px">
                <el-form-item label="收款金额：">
                    <el-input v-model="settlement.receiveAmount" clearable placeholder="请输入金额"  v-validate="'required|AmDecimal'" name="receiveAmount">
                        <span slot="suffix">元</span></el-input>
                    <el-alert
                            :title="'收款金额'+errors.first('receiveAmount')"
                            :closable="false"
                            type="warning"
                            show-icon
                            v-show="errors.has('receiveAmount')">
                    </el-alert>
                </el-form-item>

                <el-form-item label="收款时间：">
                    <el-date-picker type="datetime" v-model="settlement.receiveTime" v-validate="'required|required'" name="receiveTime" placeholder="请选择时间"
                                    value-format="yyyy-MM-dd HH:mm:ss"></el-date-picker>
                    <el-alert
                            :title="'收款时间'+errors.first('receiveTime')"
                            :closable="false"
                            type="warning"
                            show-icon
                            v-show="errors.has('receiveTime')">
                    </el-alert>
                </el-form-item>
            </el-form>


            <el-form ref="form" :model="settlement" :inline="true" label-width="120px">
                <el-form-item >
                    <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                </el-form-item>
                <el-form-item >
                    <input type="button" class="btn btn-warning" @click="reload" value="返回"/>
                </el-form-item>
            </el-form>


        </div>



    </div>

</div>
<!-- 选择窗口 -->
<div id="finUserOrgInfoTreeLayer" style="display: none;padding:10px;">
    <ul id="finUserOrgInfoTree" class="ztree"></ul>
</div>
<script src="${request.contextPath}/statics/js/contract/settlement.js?_${.now?long}"></script>
</body>
</html>