<!DOCTYPE html>
<html>
<head>
    <title>金融机构-我的待办任务</title>
    <#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList==1">
        <div class="grid-btn">
            <div style="float:left;height:40px;width:100%;margin-top:10px;">
                <label style="font-weight: normal;margin-left: 10px;">申请人：</label>
                <el-input
                        placeholder="请输入公司名称"
                        v-model="supplierSearch.supplierName"
                        style="width:250px;"
                        size="small"
                        clearable>
                </el-input>
                <label style="font-weight: normal;margin-left: 10px;">申请时间：</label>
                <el-input
                        placeholder="请输入信用代码"
                        v-model="supplierSearch.creditCode"
                        style="width:250px;"
                        size="small"
                        clearable>
                </el-input>
                <div class="form-group">
                    <div class="col-sm-2 control-label  ">合同名称</div>
                    <div class="col-sm-2">
                        <input type="text" auto-complete="off" class="form-control"  v-model="riskSearch.contractName" placeholder="请输入合同名称"/>
                    </div>
                    <div class="col-sm-2   control-label  ">合同编号</div>
                    <div class="col-sm-2">
                        <input type="text" auto-complete="off" class="form-control" v-model="riskSearch.contractCode" placeholder="请输入合同编号"/>
                    </div>
                </div>
                <a class="btn btn-default" @click="querySupplier">查询</a>
                <a class="btn btn-default" @click="clearSupplier">重置</a>
            </div>
    </div>

    <div v-show="showList==2" class="panel panel-default">
        <div class="grid-btn">
            <div style="float:left;height:40px;width:100%;margin-top:10px;">
                <label style="font-weight: normal;margin-left: 10px;">申请人：</label>
                <el-input
                        placeholder="请输入公司名称"
                        v-model="supplierSearch.supplierName"
                        style="width:250px;"
                        size="small"
                        clearable>
                </el-input>
                <label style="font-weight: normal;margin-left: 10px;">申请时间：</label>
                <el-input
                        placeholder="请输入信用代码"
                        v-model="supplierSearch.creditCode"
                        style="width:250px;"
                        size="small"
                        clearable>
                </el-input>
                <div class="form-group">
                    <div class="col-sm-2 control-label  ">合同名称</div>
                    <div class="col-sm-2">
                        <input type="text" auto-complete="off" class="form-control"  v-model="riskSearch.contractName" placeholder="请输入合同名称"/>
                    </div>
                    <div class="col-sm-2   control-label  ">合同编号</div>
                    <div class="col-sm-2">
                        <input type="text" auto-complete="off" class="form-control" v-model="riskSearch.contractCode" placeholder="请输入合同编号"/>
                    </div>
                </div>
                <a class="btn btn-default" @click="querySupplier">查询</a>
                <a class="btn btn-default" @click="clearSupplier">重置</a>
            </div>
        </div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>

</div>
<!-- 选择窗口 -->
<div id="finUserOrgInfoTreeLayer" style="display: none;padding:10px;">
    <ul id="finUserOrgInfoTree" class="ztree"></ul>
</div>
<script src="${request.contextPath}/statics/js/contract/settlementRecord.js?_${.now?long}"></script>
</body>
</html>