<!DOCTYPE html>
<html>
<head>
    <title>金融机构-供应商列表</title>
    <#include "/header.html">
    <script src="${request.contextPath}/statics/libs/vee-validate.js"></script>
    <script src="${request.contextPath}/statics/libs/zh_CN.js"></script>
</head>
<style>
    img{
        width:400px;
        height:300px;
        margin: 0 auto;
    }
    .form-control{
        width: 220px;
    }
    .back{
        margin: 0 50%;
        width: 10%;
    }
    .amountRange{
        width: 70px;
        border: 1px solid #ccc;
        border-radius: 4px;
        height: 32px;
    }
    .amountRange:focus{
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
    }
    .contractTitle{
        text-align: center;
        background-color: transparent;
    }
    .contractInfo{
        width: 950px;
        margin: 0 auto;
    }
    .contract{
        width: 996px;
        border:1px solid #b4bccc;
        margin: 0 auto;
    }
    .panel .el-input {
        width: 220px;
    }
    .contractInfo .el-input {
        width: 320px;
        border: none;
    }
    #contractImage{
        width: 780px;
        height: 900px;
    }
</style>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList==1">
        <div class="grid-btn">
            <div style="float:left;height:40px;width:100%;margin-top:10px;">
                <label style="font-weight: normal;margin-left: 10px;">公司名称：</label>
                <el-input
                        placeholder="请输入公司名称"
                        v-model="supplierSearch.supplierName"
                        style="width:250px;"
                        size="small"
                        clearable>
                </el-input>
                <label style="font-weight: normal;margin-left: 10px;">统一社会信用代码：</label>
                <el-input
                        placeholder="请输入信用代码"
                        v-model="supplierSearch.creditCode"
                        style="width:250px;"
                        size="small"
                        clearable>
                </el-input>
                <a class="btn btn-default" @click="querySupplier">查询</a>
                <a class="btn btn-default" @click="clearSupplier">重置</a>
            </div>
            <div style="float:left;height:40px;width:100%;margin-top:10px;">
                <#if shiro.hasPermission("contract:supplier:save")>
                <a class="btn btn-primary" @click="addSupplier"><i class="fa fa-plus"></i>&nbsp;新增</a>
            </#if>
            <#if shiro.hasPermission("contract:supplier:update")>
                <a class="btn btn-primary" @click="updateSupplier"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
                <a class='btn btn-primary' @click='supplierDetails'><i class="fa fa-info-circle"></i>&nbsp;详情</a>
                <a class="btn btn-primary" href="blackList.html"><i class="fa fa-check-square-o"></i>&nbsp;查看黑名单</a>
                <a class="btn btn-warning" @click="del"><i class="fa fa-check-square-o"></i>&nbsp;删除</a>
            </#if>
</div>
<div style="height: 0px;clear:both;"></div>
</div>
<table id="jqGrid"></table>
<div id="jqGridPager"></div>
</div>

<div v-show="showList==2" class="panel panel-default">
    <div class="panel-heading">{{title}}</div>
    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-2 control-label">公司名称</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" clearable  v-validate="'required'" name="supplierName"
                       v-model="supplier.supplierName" placeholder="公司名称"/>
                <el-alert
                        :title="'公司名称'+errors.first('supplierName')"
                        :closable="false"
                        type="warning"
                        show-icon
                        v-show="errors.has('supplierName')">
                </el-alert>
            </div>
        </div>
        <div class="form-group" v-show='opName=="add"'>
            <div class="col-sm-2 control-label">统一社会信用代码</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" clearable  v-validate="'required'" name="creditCode"
                       v-model="supplier.creditCode" placeholder="统一社会信用代码"/>
                <el-alert
                        :title="'统一社会信用代码'+errors.first('creditCode')"
                        :closable="false"
                        type="warning"
                        show-icon
                        v-show="errors.has('creditCode')">
                </el-alert>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">法定代表人</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" clearable  v-validate="'required'" name="legaRepresentative"
                       v-model="supplier.legaRepresentative" placeholder="法定代表人"/>
                <el-alert
                        :title="'统一社会信用代码'+errors.first('legaRepresentative')"
                        :closable="false"
                        type="warning"
                        show-icon
                        v-show="errors.has('legaRepresentative')">
                </el-alert>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">资质</div>
            <div class="col-sm-10">
                <input type="text" style="cursor: pointer;"  class="form-control" v-model="supplier.qualifications" placeholder="资质"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">所属地</div>
            <div class="col-sm-10">
                <input type="text" style="cursor: pointer;" clearable  v-validate="'required'" name="attribution"
                       class="form-control" v-model="supplier.attribution" placeholder="所属地"/>
                <el-alert
                        :title="'所属地'+errors.first('attribution')"
                        :closable="false"
                        type="warning"
                        show-icon
                        v-show="errors.has('attribution')">
                </el-alert>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">注册资本</div>
            <div class="col-sm-10">
                <input type="number" class="form-control" clearable  v-validate="'numeric'" name="registeredCapital"
                          v-model="supplier.registeredCapital" placeholder="注册资本"><span slot="suffix">元</span></input>
                <el-alert
                        :title="'注册资本'+errors.first('registeredCapital')"
                        :closable="false"
                        type="warning"
                        show-icon
                        v-show="errors.has('registeredCapital')">
                </el-alert>
            </div>
        </div>
        <div class="form-group">
        <div class="col-sm-2 control-label">经营状况</div>
        <div class="col-sm-10">
            <el-select v-model="supplier.operatingStatus" clearable placeholder="请选择" clearable  v-validate="'required'" name="operatingStatus">
                <el-option
                        v-for="item in operatingStatusList"
                        :key="item.code"
                        size="small"
                        :label="item.value"
                        :value="item.code">
                </el-option>
            </el-select>
            <el-alert
                    :title="'经营状况'+errors.first('operatingStatus')"
                    :closable="false"
                    type="warning"
                    show-icon
                    v-show="errors.has('operatingStatus')">
            </el-alert>
        </div>
    </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">公司类型</div>
            <div class="col-sm-10">
                <el-select v-model="supplier.supplierType" clearable placeholder="请选择" clearable  v-validate="'required'" name="supplierType">
                    <el-option
                            v-for="item in typeList"
                            :key="item.code"
                            size="small"
                            :label="item.value"
                            :value="item.code">
                    </el-option>
                </el-select>
                <el-alert
                        :title="'公司类型'+errors.first('supplierType')"
                        :closable="false"
                        type="warning"
                        show-icon
                        v-show="errors.has('supplierType')">
                </el-alert>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">营业范围</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" clearable  v-validate="'required'" name="businessScope"
                       v-model="supplier.businessScope" placeholder="营业范围"/>
                <el-alert
                        :title="'营业范围'+errors.first('businessScope')"
                        :closable="false"
                        type="warning"
                        show-icon
                        v-show="errors.has('businessScope')">
                </el-alert>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-2 control-label"></div>
            <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
            &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
        </div>
    </form>
</div>

<div v-show="showList==3" class="panel panel-default">
    <div class="panel-heading">{{title}}</div>
    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-2 control-label">公司名称</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" :readonly="true" v-model="supplier.supplierName" placeholder="公司名称"/>
            </div>
        </div>
        <div class="form-group" v-show='opName=="add"'>
            <div class="col-sm-2 control-label">统一社会信用代码</div>
            <div class="col-sm-10">
                <input type="number" class="form-control" :readonly="true" v-model="supplier.creditCode" placeholder="统一社会信用代码"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">法定代表人</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" :readonly="true" v-model="supplier.legaRepresentative" placeholder="法定代表人"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">资质</div>
            <div class="col-sm-10">
                <input type="text" style="cursor: pointer;" :readonly="true"  class="form-control" v-model="supplier.qualifications" placeholder="资质"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">所属地</div>
            <div class="col-sm-10">
                <input type="text" style="cursor: pointer;"  class="form-control" :readonly="true" v-model="supplier.attribution" placeholder="所属地"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">注册资本</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" :readonly="true" v-model="supplier.registeredCapital" placeholder="注册资本"><span slot="suffix">元</span></input>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">经营状况</div>
            <div class="col-sm-10">
                <el-select v-model="supplier.operatingStatus" :readonly="true" clearable placeholder="请选择">
                    <el-option
                            v-for="item in operatingStatusList"
                            :key="item.code"
                            size="small"
                            :label="item.value"
                            :value="item.code">
                    </el-option>
                </el-select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">公司类型</div>
            <div class="col-sm-10">
                <el-select v-model="supplier.supplierType" :readonly="true" clearable placeholder="请选择">
                    <el-option
                            v-for="item in typeList"
                            :key="item.code"
                            size="small"
                            :label="item.value"
                            :value="item.code">
                    </el-option>
                </el-select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">营业范围</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" :readonly="true" v-model="supplier.businessScope" placeholder="营业范围"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">备注</div>
            <div class="col-sm-10">
                <input type="textarea" style="cursor: pointer;" :readonly="true"  class="form-control" v-model="supplier.remarks" placeholder="备注"/>
            </div>

        </div>
<div style="margin-left: 15%">
    <table id="jqGridContract"></table>
    <div id="contractPager"></div>
</div>
        <br/>

        <div class="form-group" style="margin-left: 30%">
            <div class="col-sm-2 control-label"></div>
            &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
        </div>
    </form>
</div>

<div class="contract" v-show="showList==4">
    <div class="contractTitle"><h2>合同详情</h2></div>
    <div class="contractInfo">
        <h4>一、合同基本信息</h4>
        <el-form ref="form" :model="contract" :inline="true" label-width="120px">
            <el-form-item label="合同名称">
                <el-input v-model="contract.contractName" :readonly="true"></el-input>
            </el-form-item>
            <el-form-item label="合同编号">
                <el-input v-model="contract.contractCode" :readonly="true"></el-input>
            </el-form-item>
        </el-form>

        <el-form ref="form" :model="contract" :inline="true" label-width="120px">
            <el-form-item label="合同经办人">
                <el-input v-model="contract.contractManagerName" :readonly="true"></el-input>
            </el-form-item>
            <el-form-item label="经办人联系方式">
                <el-input v-model="contract.contractManagerPhone" :readonly="true"></el-input>
            </el-form-item>
        </el-form>
        <el-form ref="form" :model="contract" :inline="true" label-width="120px">
            <el-form-item label="甲方单位">
                <el-input v-model="contract.partyAName" :readonly="true"></el-input>
            </el-form-item>
            <el-form-item label="乙方单位">
                <el-input v-model="contract.partyBName" :readonly="true"></el-input>
            </el-form-item>
        </el-form>
        <el-form ref="form" :model="contract" :inline="true" label-width="120px">
            <el-form-item label="合同类型">
                <el-input v-model="contract.contractTypeName" :readonly="true"></el-input>
            </el-form-item>
            <el-form-item label="付款状态">
                <el-input v-model="contract.payStatusName" :readonly="true"></el-input>
            </el-form-item>
        </el-form>
        <el-form ref="form" :model="contract" :inline="true" label-width="120px">
            <el-form-item label="采购部门">
                <el-input v-model="contract.purchasingDeptName" :readonly="true"></el-input>
            </el-form-item>
            <el-form-item label="需求部门">
                <el-input v-model="contract.demandDeptName" :readonly="true"></el-input>
            </el-form-item>
        </el-form>
        <el-form ref="form" :model="contract" :inline="true" label-width="120px">
            <el-form-item label="合同金额">
                <el-input v-model="contract.contractAmount" :readonly="true"></el-input>
            </el-form-item>
            <el-form-item label="支付方式">
                <el-input v-model="contract.paymentTypeName" :readonly="true"></el-input>
            </el-form-item>
        </el-form>
        <el-form ref="form" :model="contract" :inline="true" label-width="120px">
            <el-form-item label="开始时间">
                <el-input v-model="contract.startDate" :readonly="true"></el-input>
            </el-form-item>
            <el-form-item label="结束时间">
                <el-input v-model="contract.endDate" :readonly="true"></el-input>
            </el-form-item>
        </el-form>
        <el-form ref="form" :model="contract"  label-width="120px">
            <el-form-item label="采购内容">
                <el-input type="textarea" :row="3" style="width: 780px;" v-model="contract.purchaseContent" :readonly="true"></el-input>
            </el-form-item>
        </el-form>


        <hr/>

        <h4>二、合同付款阶段</h4>
        <el-form ref="form"  label-width="120px">
            <el-form-item label="付款阶段">
                <el-table  style="width: 780px;"
                           :data="paymentStages"
                           style="width: 100%"
                           empty-text="暂未添加付款阶段"
                           border>
                    <el-table-column
                            label="付款阶段"
                            prop="stageName"
                            width="178">
                    </el-table-column>
                    <el-table-column
                            prop="uses"
                            label="用途"
                            width="150">
                    </el-table-column>
                    <el-table-column
                            prop="paymentAmount"
                            label="付款金额"
                            width="150">
                    </el-table-column>
                    <el-table-column
                            prop="paymentRate"
                            label="付款比例"
                            width="150"
                            :formatter="rateFormatter"
                    >
                    </el-table-column>
                    <el-table-column
                            label="付款时间"
                            width="150">
                        <template slot-scope="scope">
                            <!-- <i class="el-icon-time"></i>-->
                            <span style="margin-left: 10px">{{ scope.row.paymentDate }}</span>
                        </template>
                    </el-table-column>
                </el-table>
            </el-form-item>
        </el-form>

        <hr/>

        <h4>三、合同原件扫描件</h4>
        <el-form ref="form" :model="contract"  label-width="120px">
            <el-form-item label="扫描件图片">
                <img id="contractImage" :src="contract.contractFile">

            </el-form-item>
        </el-form>

    </div>

    <div class="form-group">
        <div class="col-sm-2 control-label"></div>
        <input type="button" class="btn back btn-primary" @click="show" value="返  回"/>
    </div>
</div>
</div>
<!-- 选择窗口 -->
<div id="finUserOrgInfoTreeLayer" style="display: none;padding:10px;">
    <ul id="finUserOrgInfoTree" class="ztree"></ul>
</div>
<script src="${request.contextPath}/statics/js/contract/supplier.js?_${.now?long}"></script>
</body>
</html>